/* STYLES */
/* links: #60affe (Dusty Blue);
   text: Open Sans #000000 (Black); text: Droid Serif: #808080 (Charcoal; borders: #808080 (Charcoal); header background: #ebebeb (Silver); 
   body background: #eef9fe (Baby Blue); footer background: #ffffff (White); */
/* BREAKPOINTS */
/* phone: 400px; tablet: 768px; desktop: 1200px */
/* SECTIONS */
/* header, footer, samples, reviews, about, contact, portfolio */
/* FONTS: nav & a: 1em; h2: 1.25em; p: 0.75em */
/* FLEXBOX */
/* align-items: center, flex-start, flex-end, baseline, stretch; display: flex; flex-direction: row, row-reverse, column, column-reverse; 
justify-content: center, space-between, space-around, flex-start, flex-end; wrap: nowrap, wrap, wrap-reverse */
html {
    font-size: 16px;
}
body {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}
header {
    align-items: center;
    background: url(../img/snow.png) #eef9fe;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 5% 0 5% 0;
    width: 100%;
}
footer {
    align-items: center;
    background: url(../img/snow.png) #f1f1f1;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 5% 0 5% 0;
    width: 100%;
}
main {
    align-items: center;
    background: url(../img/closeup.jpg) no-repeat center center / cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5% 0 5% 0;
    width: 100%;
}
ul {
    list-style-type: none;
}
a {
    color: #60affe;
    font-size: 1em;
    text-decoration: none;
}
h2 {
    font-size: 1.25em;
}
p {
    font-size: 0.75em;
}
/* HEADER */
header {
    border-bottom: 2px solid; 
    border-image: linear-gradient(90deg, #808080, #ebebeb, #60affe, #eef9fe, #000000) 1;
}
#typeface-logo {
    padding: 0 0 2.5% 0;
    width: 90%;
}
nav {
    align-items: center;
    display: flex;
<<<<<<< HEAD
    flex-direction: column;
=======
    flex-flow: column;
>>>>>>> main
    justify-content: space-around;
    text-align: center;
    width: 80%;
}
.links ul {
    padding: 0;
}
.links li {
    text-align: center;
    width: 100%;
}
.links li a {
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}
.links li:hover {
    color: #ffffff;
}
.links i { 
    padding: 2px;
}
.burger {
    display: none;
    flex-direction: column;
    height: 21px;
    justify-content: space-between;
    position: absolute;
    right: 1rem;
    top: 0.75rem;
    width: 30px;
}
.burger .bar {
    background: white;
    border-radius: 10px;
    height: 3px;
    width: 100%;
}
header h2 {
    align-items: center;
    font-family: 'Droid Serif', serif;
    font-size: 1.25em;
    justify-content: center;
    padding: 5% 0 5% 0;
    width: 96%;
}
header h2 strong {
    color: #60affe;
    font-weight: 700;
}
/***** FOOTER *****/
footer {
    align-items: center;
    border-top: 2px solid;
    border-image: linear-gradient(90deg, #808080, #ebebeb, #60affe, #eef9fe, #000000) 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
footer h2 {
    font-family: 'Droid Serif', serif;
    font-size: 1.25em;
    padding: 0 0 2.5% 0;
    width: 97%;
}
footer h2 a {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 700;
}
footer p {
    font-size: 0.5em;
    width: 60%;
}
footer ul {
    list-style: none;
    padding: 0 0 0 15%;
    width: 60%;
}
footer ul li {
    display: inline-block;
    padding: 0 0 0 5%;
}
/***** SKILLS *****/
.sam {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 0 0 25%;
    width: 50%;
}
.sam img {
    width: 100%;
}
/***** SAMPLES *****/
#samples {
    width: 90%;
}
#samples h2 {
    font-size: 1.25em;
}
.skills ul {
    list-style: "*";
}
.skills ul li a {
    font-family: 'Droid Serif', serif;
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
}
.samples img {
    border: 1px solid #808080;
    padding: 1px;
    margin: 5% 0 5% 0;
    width: 100%;
}
/***** REVIEWS *****/
#reviews {
    width: 90%;
}
#reviews h2 {
    font-size: 1.25em;
}
.reviews p {
    color: #000000;
    font-family: 'Droid Serif', serif;
}
/***** ABOUT *****/
#about {
    width: 90%;
}
#about h2 {
    font-size: 1.25em;
}
.headshot, .kitty {
    width: 90%;
}
.headshot img, .kitty img {
    border: 1px solid #808080;
    padding: 1px;
    width: 100%;
}
.intro, .hobby {
    width: 90%;
}
.intro p, .hobby p {
    font-family: 'Droid Serif', serif;
}
/***** PORTFOLIO *****/
#portfolio {
    width: 90%;
}
#portfolio button {
    align-items: center;
    border: none;
    background: #60affe;
    color: #ffffff;
    border-radius: 5px;
    font-size: 1em;
    margin: 0 0 5% 28%;
    text-decoration: none;
    text-transform: uppercase;
    width: 35%;
}
.content img {
    border: 1px solid #808080;
    padding: 1px;
    width: 100%;
}
#portfolio h2 {
    font-size: 1.25em;
    font-weight: 700;
}
#portfolio p {
    font-size: 1em;
}
/***** CONTACT *****/
#contact {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 90%;
}
#contact h2 {
    font-size: 1.25em;
}
#contact p {
    color: #000000;
    font-family: 'Droid Serif', serif;
    font-size: 1em;
}
#contact form {
    align-items: center;
    background: #ebebeb;
    border-radius: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    filter: opacity(50%);
    padding: 5% 0 5% 0;
    width: 90%;
}
#contact form label {
    margin: 3% 0 3% 0;
    width: 35%;
}
#contact form input {
    width: 40%;
}
#contact form button {
    align-items: center;
    border: none;
    background: #60affe;
    color: #ffffff;
    border-radius: 5px;
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
    width: 30%;
}
@media (min-width: 768px) {
/* FONTS: (tablet) nav & a: 1.25em; h2: 1.5em; p: 1em */
/* BASE STYLE */
a {
    font-size: 1.25em;
}
h2 {
   font-size: 1.5em; 
}
p {
    font-size: 1em;
}
/* HEADER */
header {
    border-bottom: 3.5px solid;
}
nav {
    align-items: center;
    width: 80%;
}
.links ul {
    display: flex;
    flex-flow: row wrap;
    padding: 0 0 0 5%;
    width: 100%;
}
<<<<<<< HEAD
nav ul li {
    justify-content: space-between;
    width: 50%;
}
nav ul li a {
    font-size: 1.25em;
}
nav i { 
=======
.links li {
    font-size: 1.25em;
    justify-content: space-between;
    width: 50%;
}
.links i { 
>>>>>>> main
    padding: 5px;
}
.links {
    display: none;
    width: 100%;
}
.links.active {
    display: flex;
}
.burger {
    display: flex;
}
header h2 {
    display: flex;
    flex-flow: row wrap;
    font-size: 1.5em;
}
header h2 strong {
    padding: 0 0 0 1%;
}
/***** FOOTER *****/
footer {
    border-top: 3.5px solid;
}
footer h2 {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    font-size: 1.25em;
    justify-content: center;
    width: 90%;
}
footer h2 a {
    padding: 0 1% 0 1%;
}
footer ul {
    padding: 0 0 0 31%;
}
footer p {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    font-size: 0.75em;
    justify-content: center;
}
/***** SAMPLES *****/
#samples {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 90%;
}
#samples h2 {
    font-size: 1.5em;
}
.skills {
    padding: 0 0 45% 0;
    width: 45%;
}
.skills ul li a {
    font-size: 1.25em;
    text-decoration: none;
    text-transform: uppercase;
}
.samples {
    padding: 2% 0 0 0;
    width: 45%;
}
.samples img {
    width: 100%;
}
/***** REVIEWS *****/
#reviews {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 90%;
}
#reviews h2 {
    font-size: 1.5em;
}
.reviews p {
    font-size: 1em;
    width: 45%;
}
/***** ABOUT *****/
#about {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 90%;
}
#about h2 {
    font-size: 1.5em;
}
.headshot, .kitty {
    width: 45%;
}
.headshot img, .kitty img {
    width: 100%;
}
.intro, .hobby, .misc {
    width: 45%;
}
.intro p, .hobby p {
    font-family: 'Droid Serif', serif;
    font-size: 1em;
    width: 100%;
}
/***** PORTFOLIO *****/
#portfolio {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 90%;
}
#portfolio button {
    align-items: center;
    border: none;
    background: #60affe;
    color: #ffffff;
    border-radius: 5px;
    font-size: 1em;
    margin: 0 0 2% 26%;
    text-decoration: none;
    text-transform: uppercase;
    width: 35%;
}
.content {
    width: 45%;
}
.content img {
   padding: 1px;
    width: 100%;
}
.content:nth-child(2) {
    padding:9.5% 0 0 0;
}
.content:nth-child(3) {
    padding: 4.5% 0 0 0;
}
.content:nth-child(8) {
    padding: 5% 0 0 0;
}
#portfolio h2 {
    font-size: 1.5em;
    font-weight: 700;
}
.content p {
    font-size: 1em;
}
/***** CONTACT *****/
#contact h2 {
    font-size: 1.5em;
}
#contact p {
    font-family: 'Droid Serif', serif;
    font-size: 1em;
}
#contact form {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 1% 1% 1% 3%;
    width: 80%;
}
#contact form label {
    font-size: 1em;
    width: 20%;
}
#contact form input {
    font-size: 1em;
    width: 20%;
}
#contact .email {
    font-size: 1em;
}
#contact form button {
    border: none;
    border-radius: 5px;
    font-size: 1.25em;
    margin: 0 0 2% 40%;
    text-decoration: none;
    text-transform: uppercase;
    width: 20%;
}
}
@media (min-width: 1200px) {
/* FONTS: (desktop) nav & a: 1.5em; h2: 2em; p: 1.25em */
/***** BASE STYLE *****/
body {
    min-width: 1200px;
}
nav, a {
    font-size: 1.5em;
}
h2 {
    font-size: 2em;
}
p {
    font-size: 1.25em;
}
/***** HEADER *****/
header {
   border-bottom: 5px solid;
}
#typeface-logo {
    width: 60%;
}
nav {
    align-items: center;
    width: 80%;
}
nav ul { 
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0;
    width: 100%;
}
nav ul li {
    width: auto;
}
nav ul li a {
    font-size: 1.5em;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}
nav i {
   padding-right: 10px;
}
header h2 {
    font-size: 2em;
}
/***** FOOTER *****/
footer {
   border-top: 5px solid;
}
footer h2 {
    font-size: 2em;
}
footer h2 a {
    padding: 0 0.5% 0 0.5%;
}
footer p {
    font-size: 1em;
}
footer ul {
    padding: 0 0 0 38%;
}
/***** SAMPLES *****/
#samples h2 {
    font-size: 2em;
}
.skills ul li a {
    font-size: 1.25em;
    text-decoration: none;
    text-transform: uppercase;
}
.sam {
    padding: 0;
    width: 25%;
}
/***** REVIEWS *****/
#reviews h2 {
    font-size: 2em;
}
.reviews p {
    font-size: 1.25em;
}
/***** ABOUT *****/
.intro p, .hobby p {
    font-size: 1.25em;
}
.headshot img, .kitty img {
    width: 60%;
}
/***** PORTFOLIO *****/
.content {
    width: 30%;
}
.content img {
    width: 100%;
}
#portfolio h2 {
    font-size: 2em;
    font-weight: 700;
}
.content p {
    font-size: 1.25em;
}
.content:nth-child(2) {
    padding: 5.5% 0 0 0;
}
.content:nth-child(3) {
    padding: 3.5% 0 0 0;
}
.content:nth-child(5) {
    padding: 3% 0 0 0;
}
.content:nth-child(6) {
    padding: 4% 0 0 0;
}
.content:nth-child(11) {
    padding: 5% 0 0 0;
}
/***** CONTACT *****/
#contact h2 {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    font-size: 2em;
    justify-content: center;
    width: 90%;
}
#contact p {
    font-size: 1.25em;
}
#contact form {
    width: 60%;
}
#contact form label {
    font-size: 1.25em;
}
#contact form input {
    font-size: 1.25em;
}
#contact .email {
    font-size: 1.25em;
}
#contact form button {
    border: none;
    border-radius: 10px;
    font-size: 1.25em;
    text-decoration: none;
    text-transform: uppercase;
}
}
