html {
    font-size: 16px;
}
* {
    box-sizing: border-box;
}
body {
    background: #ffffff;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}
header, footer {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}
main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
img {
    width: 100%;
}
figcaption {
    font-size: 0.5em;
    padding: 0;
}
ul {
    list-style-type: none;
}
a {
    color: #000000;
    font-size: 1em;
    text-decoration: none;
}
h2 {
    font-size: 1.25em;
}
h3 {
    font-size: 1em;
}
p {
    font-size: 0.75em;
}
/* HEADER */
header {
    border-bottom: 2px solid; 
    border-image: linear-gradient(90deg, #ebebeb, #808080, #000000) 1;
}
#typeface-logo {
    width: 90%;
}
nav {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 80%;
}
.links ul {
    padding: 0;
}
.links li {
    font-weight: 700;
    text-align: center;
    width: 100%;
}
.links li a {
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
}
.links li a:hover {
    color: #ebebeb;
}
.links i {
    padding-right: 2px;
}
.burger {
    display: none;
    flex-direction: column;
    height: 15px;
    justify-content: space-between;
    position: absolute;
    right: 0.45em;
    top: 0.45rem;
    width: 15px;
}
.burger .bar {
    background: #000000;
    border-radius: 10px;
    height: 2px;
    width: 100%;
}
header h2 {
    align-items: center;
    font-family: 'Lora', serif;
    font-size: 1.25em;
    justify-content: center;
    width: 96%;
}
header .filter {
    filter: grayscale(100%) brightness(75%) contrast(150%);
}
/***** FOOTER *****/
footer {
    align-items: center;
    border-top: 2px solid;
    border-image: linear-gradient(90deg, #000000, #808080, #ebebeb) 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
footer h2 {
    font-family: 'Lora', serif;
    font-size: 1.25em;
    width: 97%;
}
footer h2 a {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 700;
}
footer h2 a:hover {
    color: #ebebeb;
}
footer p {
    font-size: 0.5em;
    text-align: center;
    width: 60%;
}
footer ul {
    align-items: center;
    display: flex;
    width: 60%;
}
footer ul li {
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}
/***** SKILLS *****/
.skills {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}
.skills ul {
    padding: 0;
}
.skills ul li {
    align-items: center;
    background: #000000;
    border-radius: 3%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    font-family: 'Lora', serif;
    font-size: 1em;
    justify-content: center;
    margin: 2px;
    text-decoration: none;
    width: 110%;
}
/***** SAMPLES *****/
#samples {
    margin-bottom: 1%;
    width: 90%;
}
#samples h2 {
    font-size: 1.25em;
    text-transform: uppercase;
}
#samples h2 span {
    background: #000000;
    color: #ffffff;
    padding: 0 2%;
    text-transform: none;
}
.work img {
    border: 1px solid #808080;
    padding: 1px;
    width: 100%;
}
figcaption {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}
/***** REVIEWS *****/
#reviews {
    background: #000000;
    display: none;
    width: 90%;
}
#reviews h2 {
    font-size: 1.25em;
    text-transform: uppercase;
}
#reviews h2 span {
    background: #000000;
    color: #ffffff;
    text-align: left;
    text-transform: none;
}
.reviews p {
    color: #000000;
    font-family: 'Lora', serif;
    line-height: 1.5;
}
/***** ABOUT *****/
#about {
    width: 90%;
}
#about h2 {
    font-size: 1.25em;
}
.headshot, .kitty {
    width: 90%;
}
.headshot img, .kitty img {
    border: 1px solid #808080;
    padding: 1px;
    width: 100%;
}
.intro, .hobby {
    width: 90%;
}
.intro p, .hobby p {
    font-family: 'Lora', serif;
    line-height: 1.5;
}
/***** PORTFOLIO *****/
#portfolio {
    width: 90%;
}
.study {
    align-items: center;
    display: flex;
    justify-content: center;
}
.study a {
    align-items: center;
    border: none;
    background: #000000;
    color: #ffffff;
    border-radius: 5px;
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 1%;
    padding: 0 2%;
    text-decoration: none;
    text-transform: uppercase;
}
.study a:hover {
    color: #ebebeb;
}
.content img {
    border: 1px solid #808080;
    padding: 1px;
    width: 100%;
}
#portfolio h2 {
    font-size: 1.25em;
    font-weight: 700;
    width: 100%;
}
#portfolio p {
    font-size: 1em;
    line-height: 1.5;
}
.dorothy-delong,
.fireball-app,
.restaurant-app,
.recipes-app,
.dinosaur-app,
.color-app {
    display: none;
}
/***** CASE STUDY *****/
header h2 {
    text-align: center;
}
main a {
    color: #000000;
}
figcaption {
    align-items: center;
    justify-content: center;
    text-align: center;
}
.chair-title,
.bean-title,
.house-title {
    align-items: center;
    border: none;
    background: #000000;
    color: #ffffff;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    margin-right: 1%;
    padding: 0 2%;
    text-decoration: none;
    text-transform: uppercase;
}
.folio {
    align-items: center;
    display: flex;
    justify-content: center;
}
.folio a {
    background: #000000;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.25em;
    font-weight: bold;
    padding: 0 2%;
    text-transform: uppercase;
}
.folio a:hover {
    color: #ebebeb;
}
#chair,
#bean,
#house,
#conclusion,
.chair-conclude,
.bean-conclude {
    width: 90%;
}
.chair-conclude p,
.bean-conclude p {
    font-size: 1em;
    line-height: 1.5;
    padding: 0;
    width: 100%;
}
.overlay {
    color: #000000;
    font-size: 0.5em;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 88%;
    transform: translate(-50%, -50%);
}
header h2 {
    font-family: 'Open Sans', sans-serif;
}
img {
    width: 100%;
}
p {
    font-size: 1em;
}
#comp {
   border: 1px solid #808080;
   padding: 1px;
   transition: 0.3s; 
}
#comp:hover {
    opacity: 0.8;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.9);
}
.modal-content {
    display: block;
    margin: auto;
    max-width: 700px;
    width: 80%;
}
.caption {
    color: #000;
    display: block;
    height: 150px;
    margin: auto;
    max-width: 700px;
    text-align: center;
    width: 80%;
}
.modal-content, 
.caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}
@keyframes zoom {
    from {
        transform:scale(0)
    }
    to {
        transform:scale(1)
    }
}
.close {
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    right: 35px;
    top: 15px;
    transition: 0.3s;
}
.close:hover, 
.close:focus {
    color: #ebebeb;
    text-decoration: none;
}
/***** CONTACT *****/
#contact {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 90%;
}
#contact h2 {
    font-size: 1.25em;
}
#contact p {
    color: #000000;
    font-family: 'Lora', serif;
    font-size: 1em;
    line-height: 1.5;
}
#contact form {
    align-items: center;
    background: #ffffff;
    border: 1px solid #808080;
    border-radius: 15px;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 10%;
    justify-content: center;
    padding: 2% 0;
    width: 90%;
}
#contact form label {
    width: 35%;
}
#contact form input {
    margin: 1% 0;
    width: 40%;
}
#contact form button {
    align-items: center;
    border: none;
    background: #000000;
    color: #ffffff;
    border-radius: 5px;
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
    width: 30%;
}
#contact i {
    font-size: 1.5em;
}
@media (max-width: 600px) {
    /* NAV BURGER */
    .burger {
        display: flex;
        padding: 0 0 1% 0;
    }
    .links {
        display: none;
        width: 100%;
    }
    nav {
        align-items: flex-start;
        flex-direction: column;
    }
    .links ul {
        flex-direction: column;
        width: 100%;
    }
    .links li {
        text-align: center;
    }
    .links li a {
        padding: 0.5rem 1rem;
    }
    .links.active {
        display: flex;
    }
    .modal-content {
        width: 100%;
    }
}
@media (min-width: 768px) {
/* FONTS: (tablet) nav & a: 1.25em; h2: 1.5em; p: 1em */
/* BASE STYLE */
a {
    font-size: 1.25em;
}
h2 {
   font-size: 1.5em; 
}
h3 {
    font-size: 1.25em;
}
p {
    font-size: 1em;
}
/* HEADER */
header {
    border-bottom: 3.5px solid;
}
nav {
    align-items: center;
    width: 80%;
}
.links ul {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}
.links li {
    font-size: 1.25em;
    justify-content: space-between;
    width: 50%;
}
.links i { 

}
.links {
    width: 100%;
}
header h2 {
    display: flex;
    flex-flow: row wrap;
    font-size: 1.5em;
}
/***** FOOTER *****/
footer {
    border-top: 3.5px solid;
}
footer h2 {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    font-size: 1.25em;
    justify-content: center;
    width: 90%;
}
footer h2 a {
    padding: 0 0.5%;
}
footer p {
    align-items: center;
    flex-flow: row wrap;
    font-size: 0.75em;
    justify-content: center;
    text-align: center;
}
footer ul {
    width: 50%;
}
footer ul li {
    width: 50%;
}
/***** SKILLS *****/
.skills {
    width: 80%;
}
.skills h2 {
    width: 100%;
}
.skills ul {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    width: 100%;
}
.skills ul li {
    justify-content: space-between;
    width: 25%;
}
.skills ul li a {
    font-size: 1.25em;
    text-decoration: none;
    text-transform: uppercase;
}
/***** SAMPLES *****/
#samples {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 90%;
}
#samples h2 {
    font-size: 1.5em;
    width: 100%;
}
/***** REVIEWS *****/
#reviews {
    align-items: center;
    display: none;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 90%;
}
#reviews h2 {
    font-size: 1.5em;
}
.reviews p {
    font-size: 1em;
    width: 90%;
}
/***** ABOUT *****/
#about {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 90%;
}
#about h2 {
    font-size: 1.5em;
}
.headshot, .kitty {
    width: 45%;
}
.headshot img, .kitty img {
    width: 100%;
}
.intro, .hobby, .misc {
    width: 45%;
}
.intro p, .hobby p {
    font-family: 'Lora', serif;
    font-size: 1em;
    width: 100%;
}
/***** PORTFOLIO *****/
#portfolio {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 90%;
}
#portfolio h2 {
    font-size: 1.5em;
    font-weight: 700;
}
#portfolio a {
    font-size: 1.25em;
    margin: 0 0 2% 0;
}
.content {
    width: 45%;
}
.content img {
    padding: 1px;
    width: 100%;
}
.content p {
    font-size: 1em;
}
/***** CASE STUDY *****/ 
.folio a {
    font-size: 1.25em;
}
.house-title {
    font-size: 1.25em;
    margin-left: 0.5%;
}
p {
    font-size: 1em;
}
#house,
#chair,
#bean {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 90%;
}
header p {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 90%;
}
#conclusion {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 90%;
}
.house-feature {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 90%;
}
.house-feature img {
    width: 45%;
}
.house-logo,
.house-old,
.house-about,
.house-services,
.house-ghana,
.house-partners,
.house-style,
.house-press,
.house-products,
.house-blog,
.house-contact,
.house-faq,
.house-passion-old {
    width: 25%;
}
.house-ghana img,
.house-about img,
.house-passion-old img,
.house-old img,
.house-services img,
.house-partners img,
.house-press img,
.house-products img,
.house-blog img,
.house-contact img,
.house-faq img {
    width: 60%;
}
.house-type,
.house-role,
.house-goals,
.house-design,
.house-font,
.house-content,
.house-challenge,
.house-conclude {
    width: 40%;
}
.house-view,
.house-palette,
.house-layout {
    width: 35%;
}
.chair-feature {
    align-items: center;
    display: flex;
    justify-content: center;
}
.chair-feature img {
    width: 60%;
}
.chair-logo,
.chair-owner,
.chair-style {
    width: 25%;
}
.chair-logo img,
.chair-tablet img {
    width: 60%;
}
.chair-mobile img {
    width: 30%;
}
.chair-green,
.chair-jade,
.chair-red,
.chair-white {
    width: 20%;
}
.chair-type,
.chair-design {
    width: 40%;
}
.chair-palette {
    width: 35%;
}
.chair-role,
.chair-view,
.chair-font,
.chair-content,
.chair-mobile,
.chair-layout,
.chair-tablet,
.chair-challenge {
    width: 45%;
}
/***** CONTACT *****/
#contact h2 {
    align-items: center;
    display: flex;
    font-size: 1.5em;
    justify-content: center;
    width: 80%;
}
#contact p {
    font-family: 'Lora', serif;
    font-size: 1em;
}
#contact form {
    align-items: center;
    background: #ffffff;
    border: 1px solid #808080;
    border-radius: 15px;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 10%;
    justify-content: center;
    padding: 2% 0;
    width: 45%;
}
#contact label, 
#contact input {
    padding: 0.5% 0;
}
#contact form button {
    border: none;
    border-radius: 5px;
    font-size: 1.25em;
    margin-left: 38%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 30%;
}
}
@media (min-width: 1200px) {
/* FONTS: (desktop) nav & a: 1.5em; h2: 2em; p: 1.25em */
/***** BASE STYLE *****/
body {
    min-width: 1200px;
}
nav, a {
    font-size: 1.5em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
}
p {
    font-size: 1.25em;
}
/***** HEADER *****/
header {
   border-bottom: 5px solid;
}
#typeface-logo {
    width: 60%;
}
nav {
    align-items: center;
    width: 80%;
}
.links ul { 
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0;
    width: 100%;
}
.links li {
    width: auto;
}
.links li a {
    font-size: 1.5em;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}
.links i {

}
header h2 {
    font-size: 2em;
}
/***** FOOTER *****/
footer {
   border-top: 5px solid;
}
footer h2 {
    font-size: 2em;
}
footer p {
    font-size: 1em;
}
/***** SKILLS *****/
.skills ul {
    width: 100%;
}
.skills ul li {
    display: inline-flex;
    width: 12%;
}
.skills ul li a {
    font-size: 1.25em;
    text-decoration: none;
    text-transform: uppercase;
}
/***** SAMPLES *****/
#samples h2 {
    font-size: 2em;
}
.work {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 90%;
}
.work img {
    margin: 0 1%;
    width: 30%;
}
img {
    width: 100%;
}
/***** REVIEWS *****/
#reviews h2 {
    font-size: 2em;
}
.reviews p {
    font-size: 1.25em;
}
/***** ABOUT *****/
.intro p, .hobby p {
    font-size: 1.25em;
}
.headshot img, .kitty img {
    width: 60%;
}
/***** PORTFOLIO *****/
.content {
    width: 30%;
}
.content img {
    width: 100%;
}
#portfolio h2 {
    font-size: 2em;
    font-weight: 700;
}
.content p {
    font-size: 1.25em;
}
/***** CASE STUDY *****/
.folio a {
    font-size: 1.5em;
}
figcaption {
    align-items: center;
    justify-content: center;
    text-align: center;
}
img {
    width: 100%;
}
.chair-title,
.bean-title,
.house-title {
    font-size: 1.5em;
}
/***** CONTACT *****/
#contact form {
    width: 50%;
}
#contact p {
    font-size: 1.25em;
}
#contact form label {
    font-size: 1.25em;
}
#contact form input {
    font-size: 1.25em;
}
#contact form button {
    border: none;
    border-radius: 10px;
    font-size: 1.25em;
    text-decoration: none;
    text-transform: uppercase;
}
}